@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin: 0;
	padding: 1rem 0;
	background-color: #7acac7;
	color: #404042;
	text-align: center;
	text-transform: uppercase;
}

main {
	padding: 1rem 2rem;
	background-color: #dfdfe2ff;
	color: #404042;
}

.bio h3 {
}

h3 {
	padding-top: 1rem;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	color: #222;
}

p {
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 2;
	text-align: justify;
	text-transform: capitalize;
}

li {
	font-size: 1rem;
	font-weight: 600;
	line-height: 2;
	text-align: left;
	text-transform: capitalize;
}
section {
	padding-bottom: 1rem;
}

@media (min-width: 600px) {
	main {
		padding: 1rem 7rem;
	}
	h3 {
		font-size: 2rem;
	}
	section {
		padding-bottom: 0;
	}
	p,
	li {
		font-size: 1.5rem;
	}
}

@media (min-width: 1024px) {
	main {
		padding: 1rem 30rem;
	}
}
